.list {
    color: rgb(41, 39, 39);
    font-size: 10px;

}

.episode {
    font-size: 30px;
    color: rgb(20, 82, 61);
}

.name {
    font-size: 30px;
    color: rgb(224, 96, 22);
}

.summary {
    font-size: 15px;
    color: rgb(20, 82, 61);
}

img {
    width: 35px;
    height: 35px;

}

.body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#films {
    max-width: 400px;
}

.div {
    margin: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

}