.removeBtn {
    background-color: rgb(247, 183, 181);
    background-image: url("./img/delete.png");
    width: auto;
    height: auto;
    padding: 5px 10px 5px 30px;
    margin: 10px 15px 15px 15px;
    background-repeat: no-repeat;
    color: white;
    float: right;
    border-radius: 10px;
}

.card {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid none;
    border-radius: 15px;
    background-color: rgb(222, 224, 224);
}

.contantContainer {
    border: 1px solid grey;
    border-radius: 15px;
    margin: 0 auto;
    background-color: rgb(219, 238, 245);
}

.img {

    background-image: url(img/car.png);
    background-size: cover;
    width: 470px;
    height: 200px;
    margin-left: 13px;
}

.contacts {
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    ;
}

.header {
    font-size: 18px;
    margin: 5px 20px 10px 20px;
}

.twit {
    font-size: 14px;
    margin: 5px 20px 10px 20px;
}