.section {
    justify-content: center;
    margin-top: 5%;
}

.button {
    background-color: pink;
    border-radius: 40px;
    padding: 50px;
    -webkit-box-shadow: -4px -2px 71px 14px rgba(3, 3, 3, 0.64) inset;
    -moz-box-shadow: -4px -2px 71px 14px rgba(3, 3, 3, 0.64) inset;
    box-shadow: -4px -2px 71px 14px rgba(3, 3, 3, 0.64) inset;
    border: none;
    font-family: Festive;
    font-size: 40px;
}

body {
    background-color: rgb(71, 68, 71);
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    font-family: Festive;
    font-size: 25px;
    color: hotpink
}